/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
}

.container {
    text-align: center;
    height: 100vh;
    padding-top: 20vh;
}
.container2 {
    text-align: center;
    height: 100vh;
    padding-top: 10vh;
}
.container3 {
    text-align: center;
    height: 100vh;
    padding-top: 20vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.4rem;
}

.main-text {
    font-size: 2rem;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-container img {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#player {
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}